.loc{
               height:40%;
               width:23%;
               border:1px solid silver;
               box-shadow: 1px 1px 1px 0px silver;
               margin: 0.8%;
               position:relative;

           }
           .loc a{
             text-decoration: none;
             alink:black;
             vlink:black;
             color:black;
           }
           .id,.residents{
               height:10%;
               padding-top:3%;
               padding-bottom: 5%;
               font-size: 17px;
           }
           .name{
               height:40%;
               background-color:#F1F1F1;
               padding-top: 26%;
               padding-bottom:25%;
               font-size: 18px;

           }
           .residents{
             color:grey;
           }
#description{

}
#main{
  width:100%;
  display:flex;
    flex-wrap: wrap;
    align-items: center;

}
