#logo{

    width:7%;
}
#top{
  background-color: #EBEAF0;
  box-shadow: 0px -5px 15px -10px skyblue inset;
  padding:10px;
}
#search{
  background-color:#DEDEDE;
  border-radius: 10px;
  float :right;
  margin-top:5px;
  border:1px;

}
.content{

  font-family:Times New Roman;
  float:left;
  margin:10px;;
  border: 0px;
}
input[type=text]{
  padding-top: 17px;
  padding-bottom:17px;
  padding-left: 10px;
  padding-right: 10px;
  border:0px;
  margin:0px;
  z-index:1;
  font-family: times new roman;

}

.content img{
  width:25px;
  height:25px;
  cursor:pointer;
}
